.dash-body {
    position:relative;
    text-align: center;
    border: 5px #58ba57;
    box-sizing: border-box;
    width: 300px;
    height: 100px;
}

.row.content {
    height: 1000px;
}
    
/* Set gray background color and 100% height */
.sidenav {
  height: 100%;
  position: fixed; 
  left: 0;
}
    
/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
  .row.content {height: auto;} 
}