<div class="container px-4">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">
                <a [routerLink]="['/servers']">
                    <i class="fa-solid fa-server fa-2xl"></i>
                    Manage Servers
                </a>
           </div>
        </div>
        <div class="col">
            <div class="p-3 border bg-light">
                <a [routerLink]="['/billing']">
                    <i class="fa-solid fa-file-invoice-dollar fa-2xl"></i>
                    Billing & Invoices
                </a>
            </div>
        </div>
        <div class="col">
            <div class="p-3 border bg-light">
                <a [routerLink]="['/users']">
                    <i class="fa-solid fa-users fa-2xl"></i>
                    Users
                </a>
            </div>
        </div>
        <div class="col">
            <div class="p-3 border bg-light">
                <a [routerLink]="['/productlist']">
                    <i class="fa-solid fa-cart-shopping fa-2xl"></i>
                    Products
                </a>
            </div>
        </div>
    </div>
</div>

