.navbar-logo {
    position:fixed; 
	  top:0; 
	  left:0;
}

.elixirlogo {
    height: 60px;
    width: 60px;
    margin-top: 5px;
    margin-right: 5px;
    
}

.title {
  margin: fixed;
  width: 50%;
  padding: 10px;
  padding-left: 45px;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/